*.xls
*.xlsx
*.csv
*.h
*.c
*.cpp
*.exe
*.bat
*.xsh
*.ps1
*.flaskenv
.gitattributes
*.enc
*.msg
*.tcl
*.ini
hackathon/data/*
hackathon/migrations/*
hackathon/hackathon/*

/__pycache__/
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.synctex.gz
**/*.odp
**/*.sty
**/*.bib
**/*.eps
**/*.bst
**/*.cfg
**/*.odt
**/*.cls
**/*.ppt
**/*.pptx
**/*.xlsx
**/*.xls
**/*.XLS
**/*.XLSX
**/*.tif
**/*.xml
**/*.csv
**/*.toc
**/*cpython
**/*.pycgit 
**/*.json
**/*.gbff
**/*.gb
**/*.fasta
**/*.npz
**/*.gml
**/*.tab
**/*.ipynb_checkpoints
**/*.DS_Store
**/*._.DS_Store
**/*.Rhistory
**/*.RData
**/*.pyc