<html>
    <head> 
        {% if title %}
        <title>{{ title }} - Hackthesouth</title>
        {% else %}
        <title>Welcome to Hackthesouth</title>
        {% endif %}
    </head>
    <body>
        <div>
            <img src="RECicredibles.jpg" alt="Incredible logo">
            Hackthesouth:
            <a href="{{ url_for('index') }}">Home</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
